<div *ngIf="cartItems.length === 0">
    <div style="text-align: center;padding-top: 30px;padding-left:200px;position: fixed;">
    <img src="https://img.icons8.com/bubbles/100/000000/shopping-cart.png"/>
    <p>Your Cart Is Empty ! </p>
    <p>Please Add Items into your cart !</p>
</div>
</div>

<div *ngIf="cartItems.length > 0" class="cart">
    <h5>Your Orders : </h5>
    <hr>
   
   
    <div *ngFor = "let cart of cartItems">
        <app-cart-item [cartItem]="cart"></app-cart-item>
    </div>


    <p class="total"><strong>Total : {{cartTotal}}</strong></p>

</div>


<div class="footer">
    <div class="left-div" style="">
    <p><strong>Total : {{cartTotal}}</strong></p>
    <p><strong>Qty : {{cartQty}}</strong></p>
</div>
<div class="right-div"
style="">
    <button class="chk-btn" (click)="checkout()">Checkout</button>
</div>
</div>
<ng-container *ngIf="show"><app-modal [amount]="cartTotal" [modal]="show"></app-modal></ng-container>