


<div id="myModal" class="modal" *ngIf="modal">

  <div class="modal-content" #modal>
    <div class="modal-header">
      <span class="close" (click)="close()">&times;</span>
      <h2>Checkout Window</h2>
    </div>
    <div class="modal-body">
     
      <img src="https://img.icons8.com/dusk/64/000000/refund-2.png"/> 
      <p>Your Transaction is sucessful!</p>
      <p> <strong>Total Amount Paid : {{amount}}</strong></p>
    </div>
    <div class="modal-footer">
      <h3>Thanks for buying!</h3>
    </div>
  </div>

</div>
