

body{
  margin-bottom:100px;
}

.product-list{
  float:left;
  width: 45%;

}
 .media {
  display: flex;
  align-items: flex-start;
  padding:24px 10px;
  float: left;
}
.content {
  flex: 1;
  padding: 10px;
}

.media img{
  margin-top: 0px;
  margin-right: 20px;

}
.items-container{
  margin-bottom: 20px;
  padding: 8px 12px;
  border-bottom: 1px solid #ccc;

    

     
}


.cart-container{
  float: right;
  width:50%;
  padding:24px 0px;
}


.clear{
float:none;
clear: both;
}


.content ul{
  list-style-type: none;
}

.content li {
  font-size:14px;
  margin-bottom: 6px;
}

.title{
  color:green;
  font-size:16px;
  font-weight:600;
}

.price{
  font-weight: 600;;
}


.btn{
  background-color: #fff;
    padding: 6px 12px;
    color: green;
    border: 1px solid #eee;
    margin-right: 10px;
    transition-delay: 0.5s ease;
}

.btn:hover{
  background-color: green;
    
    color: #fff;
}

.btn:focus{
  
    border: 1px solid #eee;
    outline: none;
}




@media screen and (max-width: 368px) {
  .product-list{
  float:none;
  width: 100%;
}

.btn{
  padding: 6px 8px;
}

.cart-container{
  float: none;
  width:100%;
  
}
}



